header {
  background-color: saddlebrown;
  height: 50px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  color: white;
}

.nav {
  background-color: red;
  width: 225px;
  display: flex;
  text-align: center;
  align-items: center;
}

.nav > div {
  width: 75px;
  /*border: 1px solid black;*/
}

.auth {
  background-color: blue;
  display: flex;
  height: 50px;
  width: 150px;
  text-align: center;
  align-items: center;
}

.auth > div {
  width: 75px;
}

.join-now {
  color: yellow;
}

.img {
  height: 600px;
  width: 100%;
  background-color: orange;
  position: relative;
}

.share {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 300px;
  width: 400px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

.share > div {
  border: 1px solid black;
}
.share > div > p {
  font-size: 30px;
}

.item-2 {
  height: 175px;
  display: flex;
}

.text {
  text-align: left;
  padding-left: 15px;
}

.facebook {
  background-color: blue;
  height: 50px;
  width: 300px;
  font-size: 20px;
  color: white;
}

.blocks {
  height: 100px;
  background-color: gray;
  display: flex;
  text-align: center;
  align-items: center;
}

.blocks > div {
  width: 33.3%;
  display: flex;
  color: white;
}

.icon {
  width: 20%;
}

.text1 {
  width: 80%;
  text-align: left;
}

.main {
  height: 600px;
  display: flex;
  flex-direction: column;
}

.how {
  text-align: center;
  width: 800px;
  border: 1px solid black;
  color: coral;
  align-self: center;
}

.icons {
  display: flex;
}

.icons > div {
  width: 25%;
  border: 1px solid red;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}