div {
  width: 200px;
  height: 200px;
  position: fixed;
  background-color: red;
  
  animation: test 10s infinite paused;
  
}

div:hover {
  animation-play-state: running;
}

@keyframes test {
  0% {
    background-color: red;
    top: 0px;
    left: 0px;
  }
  25% {
    background-color: blue;
    top: 50px;
  }
  50% {
    background-color: cadetblue;
    left: 300px;
  }
  75% {
    background-color: yellow;
  }
  100% {
    border-radius: 50%;
  }
}