* {
	margin: 0 auto;
}
.header {
	height: 100px;
	font-size: 40px;
	color: #0000CD;
	text-align: center;
	line-height: 100px;
	background-color: #1E90FF;
}
.menu {
	height: 455px;
	width: 220px;
	float: left;
	background-color: #FCE03F;
	padding-top: 15px;
	padding-left: 10px;
	margin-right: 15px;
}
.content {
	height: 470px;
}
.footer {
	height: 150px;
	line-height: 150px;
}
.fut{
	font-size: 30px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	font-weight: bold;
}
.boll {
	height: 470px;
	width: 75px;
	float: right;
	opacity: 0.4;
	background-image: url('boll1.png');
	background-repeat: repeat-y;
}
.cup {
	height: 200px;
	width: 250px;
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}
@media print {
	.header {
		height: 50px;
		line-height: 50px;
		font-size: 30px;
		color: black;
		background-color: #808080;
		border: 1px solid black
	}
	.menu {
		display: none;
	}
	.content {
		height: 750px;
	}
	.footer {
		height: 50px;
		line-height: 50px;
	}
}	
@media screen and (device-width: 720px) {
	.header {
		height: 50px;
		line-height: 50px;
		font-size: 30px;
	}
	.menu {
		width: 150px;
		height: 535px;
		background-color: red;
	}
	.content {
		height: 550px;
	}
	.boll{
		height: 550px;
	}
}
@media screen and (device-width: 480px){
	.header {
		height: 50px;
		line-height: 50px;
		font-size: 30px;
	}
	.menu {
		height: 350px;
		width: 140px;
		background-color: green;
	}
	.content {
		height: 500px;
	}
	.boll {
		background-image: url('boll2.png');
		width: 45px;
		height: 500px;
	}
	.cup {
		height: 120px;
		width: 220px;
	}
}	