div {
	margin-bottom: 20px
}
div>a:hover {
	color: red;
}
div:first-of-type>img {
	height: 30px;
	width: 7px;
}
div:nth-child(2)>a::after {
	content: "";
	border-right: 10px solid red;
}
div:nth-child(2)>a:last-of-type::after {
	content: "";
	border-right: 0px;
}