tr, td {
	border: 1px solid black;
}

table {
  	margin: 80px auto;
    background: white;
    border: 1px solid black;
    border-collapse: collapse;
}

tr:first-child, tr:last-child {
	background: green;
	width: 60px;
	height: 20px;
}

td:first-child, td:last-child {
	background: green;
	width: 20px;
}

tr.chess:nth-child(even) td.chess:nth-child(odd),
tr.chess:nth-child(odd) td.chess:nth-child(even) {
	background: black;
	width: 70px; 
	height: 70px;
}


