img {
	height: 300px;
	width: 300px;
	/*position: absolute;*/
}
div {
	margin: 0 auto; 
	text-align: center;
}
.biohazard {
	z-index: 1;
	position: absolute;
	left: 440px;
}
.biohazard:hover {
	z-index: 3;
}
.man-and-woman {
	z-index: 1;
	position: absolute;
	left: 720px;
}
.man-and-woman:hover {
	z-index: 3;
}
.no-smoking {
	z-index: 2;
	position: absolute;
	top: 270px;
	left: 580px;
}
.yin-and-yang {
	z-index: 1;
	position: absolute;
	left: 580px;
	top: 400px;
}
.yin-and-yang:hover {
	z-index: 3;
}