* {
	margin: 0 auto;
}
tr, td {
}
table {
  border-collapse: collapse;
}
.header {
	height: 100px;
	font-size: 40px;
	color: #0000CD;
	text-align: center;
	line-height: 100px;
	background-color: #1E90FF;
}
.menu {
	vertical-align:top;
	width: 200px;
	background-color: #FCE03F;
	padding-top: 20px;
	padding-left: 10px;
	margin-right: 15px;
}
.content {
	padding-left: 20px;
	padding-top: 20px;
	vertical-align:top;
	height: 470px;
}
.content::before {
	content: '';
	height: 470px;
	width: 75px;
	background-image: url(boll1.png);
	background-repeat: repeat-y;
	position: absolute;
	right: 0px;
	top: 100px;
	opacity: 0.4;
}
.football {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}
