* {
	margin: 0 auto;
}
.header {
	width: 100%;
	font-size: 40px;
	color: #0000CD;
	line-height: 100px;
	text-align: center;
	background-color: #1E90FF;
}
.menu {
	height: 455px;
	width: 220px;
	float: left;
	background-color: #FCE03F;
	padding-top: 15px;
	padding-left: 10px;
	margin-right: 15px;
}
.content {
	height: 470px;
}
.footer {
	height: 150px;
	line-height: 150px;
}
.fut{
	font-size: 30px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	font-weight: bold;
}
.boll {
	height: 470px;
	width: 75px;
	float: right;
	opacity: 0.4;
	background-image: url('boll1.png');
	background-repeat: repeat-y;
}